* {
	height: 100%;
	width: 100%;
	margin: 0;
}

#top {
	height: 50%;	

	background-color: lightblue;
	
	color: white;
	font-family: "Lobster", cursive;
	text-align: center;
	font-size: 100px;
	text-shadow: -5px 5px 0 black;
	
}
